{% extends "layout.html" %}

{% block title %}
    Friendly Chat!
{% endblock %}

 
{% block content %}

    <h2>Welcome! </h2>

    <h2> Please! select a chatroom or create a new one! </h2>

    <form action="/create" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="channel" id="channel" autofocus>
        </div>
        <button class="btn btn-primary" type ="submit"> Create</button>
    </form>

    <script>
        if(localStorage.getItem('last_channel')){
            //Go to the last channel
            let channel = localStorage.getItem('last_channel');
            window.location.replace('/channels' + channel);
        }
    </script>



    <div class="container-channel custom-window">
            <div id="users-online" class="list-group">
                {#
                    http://jinja.pocoo.org/docs/2.10/templates/#whitespace-control
                
                    Minus(-) used to strip all the whitespace 
                    Only if there are messages, render it.
                #}
                <textarea id="chat" cols="30" rows="20" readonly>
                </textarea>
                    {%- if usersOnline -%} 
                    {{ 'These users are online!' }}{{- '\n' -}}
                    {% for useronline in usersOnline %}
                    {{ '=>' }} {{useronline}} {{ '<=' }} 
                    {% endfor %}
                    
                    {% else %}
                    {{ 'There are not users online' }}{{- '\n' -}}
                    {% endif %}
                </textarea>
            </div>
    </div>
{% endblock %}
