{% extends "layout.html" %}

{% block title %}
    Books!
{% endblock %}

{% block body %}
    <form action="{{ url_for('logout') }}" method="post">
        LOGOUT?<br><br>
        <div class="form-group">
            <input type="submit" value="Logout"><br><br>
        </div>
    </form>

     <h1>All Books with your author</h1>

    <ul>
            {% for book in books %}
                <li>
                    <a href="{{ url_for('bookauthor', book_author=book.author, book_isbn=book.isbn) }}">
                        ISBN:{{book.isbn}} / {{ book.title }} by {{book.author}}
                </li>
            {% endfor %}
    </ul>
{% endblock %}
