{% extends "layout.html" %}

{% block title %}
    Success!
{% endblock %}

{% block content %}
    <h1>Success!</h1>

    Welcome to this website! <br><br>

    <br><br> Please, press the button to begin to search books! <br> <br> <br> <br>
    <form action="{{ url_for('begin_to_search') }}" method="get">
            <div class="form-group"> <BR><br>
                <button id="signup" class="btn btn-primary" type="submit"> Bengin to search!</button>
            </div>
    </form>
{% endblock %}
