
.header {
  background: url("../static/bg1.jpg") no-repeat center;
  background-size: cover;
  min-height: 100vh;
}

.header .navbar {
    background-color: transparent !important;
}

h1 {
    color:rgb(245, 122, 7);
}

h2 {
    color:rgb(253, 253, 253);
}


 main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

/* Classes */

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

.custom-nav {
    border: 0px;
    padding: 0;
    box-shadow: 0 0 20px rgba(230, 134, 9, 0.5);
}

.custom-window {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 15px;
    padding: 30px;
}

.container-channel {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20rem 100px;
}

/* ID */

#message-box, #file-selector {
    align-self: center;
}

#leave {
    background: rgb(36, 90, 236);
    color: white;
}

#send-button {
    background: rgb(36, 90, 236);
    color: white;
}

#message-box {
    margin: 30px 20px 10px 30px;
}

#users-online {
    margin: 30px 20px 10px 30px;
    background: cornflowerblue;
}


#chat {
    padding: 20px;
}